<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div> ADMIN PANEL
      </div>
    </div>
    <nav class="menu">
      <ul class="sidebar-menu metismenu" id="sidebar-menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/admin"><i class="fa fa-tv"></i> Dashboard</a>
        </li>

      </ul>
    </nav>
  </div>
</aside>


<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>