<div class="auth">
  <div class="auth-container">
    <div class="card">

      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
          </div> Test App
        </h1>
      </header>

      <div class="auth-content">
        <p class="text-center">SIGN UP</p>
        <form id="login-form" action="#" method="POST" novalidate="" [formGroup]="registerFG">
          <div class="form-group">
            <label for="name">Full name</label>
            <input type="text" class="form-control underlined" placeholder="Your name" required formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control underlined" placeholder="Your email" required formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control underlined" placeholder="Your password" required formControlName="password">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-block btn-primary" (click)="signUp()">Sign Up</button>
          </div>
          <div>
            <p class="alert alert-warning" *ngIf="errMsg">{{errMsg}}</p>
            <p class="alert alert-success" *ngIf="successMsg">{{successMsg}}</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>