<div class="app blank sidebar-opened">
  <article class="content">
    <div class="error-card global">
      <div class="error-title-block">
        <h1 class="error-title">PP</h1>
        <h2 class="error-sub-title"> Web Panel - Dashboard </h2>
      </div>
      <div class="error-container">
        <p>Please login to access your account</p>
        <a class="btn btn-primary" href="" routerLink="/login">
          <i class="fa fa-user"></i> LOGIN </a>
      </div>
    </div>
  </article>
</div>
